<wa-avatar
  class='avatar'
  image='https://assets.zuzki.dev/small_zuzki_christmas_optimized_f2cbf3f61b.webp'
  label='Zuzki'>
</wa-avatar>

<section id='about' class='about_container'>
  <p>Soy un desarrollador apasionado por la creación de aplicaciones web innovadoras y funcionales.</p>
  <p>Siempre busco nuevas formas de mejorar mis habilidades y actualmente estoy explorando el emocionante mundo
    del diseño de interfaces para las transmisiones en vivo.</p>
  <p>Mi enfoque actual se centra en combinar creatividad y tecnología para ofrecer soluciones que marquen la
    diferencia.</p>
</section>
