.avatar {
  width: 400px;
  height: 400px;
}

.about_container {
  max-width: 1000px;
  margin: 0 auto;
  height: auto;
  text-align: center;
}

@media (width <= 920px) {
  .avatar {
    width: 400px;
  }
}

@media (width <= 425px) {
  .avatar {
    width: 300px;
  }
}

@media (width <= 375px) {
  .avatar {
    width: 200px;
    height: 200px;
  }
}
