<wa-page>
  <app-header slot="header" class="wa-body-s shadow-sm"></app-header>

  <main>
    <wa-card with-image with-footer with-header class="card-overview">
      <img src="https://assets.zuzki.dev/kirarye_layout.webp" alt="Kirarye's Layout" class="rounded" slot="image"/>

      <div slot="header">
        <b>Kirarye's Layout</b>
      </div>


      <div class="tags">
        <a href="https://www.youtube.com/watch?v=Z-Pr3xcPD_U&embeds_referring_euri=https%3A%2F%2Fvgen.co%2F&source_ve_path=MjM4NTE" target="_blank">
          <wa-tag variant="success" appearance="filled">Diseño original</wa-tag>
        </a>

        <a href="https://himeko-design-en.carrd.co/" target="_blank">
          <wa-tag variant="brand" appearance="filled">Redes</wa-tag>
        </a>

        <a href="https://x.com/KiraryeVT" target="_blank">
          <wa-tag variant="brand" appearance="filled">Streamer</wa-tag>
        </a>
      </div>

      <div slot="footer" class="flex justify-center">
        <a routerLink="/overlays/kirarye" routerLinkActive="active" ariaCurrentWhenActive="page" >
          <wa-button variant="brand" pill>Ver overlay</wa-button>
        </a>
      </div>
    </wa-card>
  </main>
</wa-page>
