<wa-page>
  <app-header slot="header" class="wa-body-s shadow-sm"></app-header>
  <main id="overlay" class="bg-gray-900">
    <div class="sun"></div>
    <div class="solar_radiation"></div>
    <div class="solar_radiation_2"></div>

    <section class='info_box'>
      <div class="chat_title">
        <div class="dots">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>

        <div class="actions">
          <div class="action">
            <wa-icon variant="regular" name="window-minimize"></wa-icon>
          </div>
          <div class="action">
            <wa-icon variant="regular" name="square"></wa-icon>
          </div>
          <div class="action">
            <wa-icon variant="regular" name="xmark"></wa-icon>
          </div>
        </div>
      </div>
    </section>

    <section class='chat'>
      <div class="chat_title">
        <div class="dots">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>

        <div class="actions">
          <div class="action">
            <wa-icon variant="regular" name="window-minimize"></wa-icon>
          </div>
          <div class="action">
            <wa-icon variant="regular" name="square"></wa-icon>
          </div>
          <div class="action">
            <wa-icon variant="regular" name="xmark"></wa-icon>
          </div>
        </div>
      </div>

      <h1 class="boxTitle">Chat</h1>
    </section>

    <section id="twitter"></section>

    <section id="viewers-actions">
      <div class="viewers-action_container">
        <div class="icon-square">
          <wa-icon class="text-white" name="heart"></wa-icon>
        </div>
      </div>

      <div class="viewers-action_container">
        <div class="icon-square">
          <wa-icon class="text-white" name="sack-dollar"></wa-icon>
        </div>
      </div>

      <div class="viewers-action_container">
        <div class="icon-square">
          <wa-icon class="text-white" name="star"></wa-icon>
        </div>
      </div>
    </section>
  </main>
</wa-page>
