<wa-card with-image with-footer class="card-overview">
  <img slot='image'
       [src]="project().screenshot?.formats?.thumbnail?.url || ''"
       alt='some project'
       width="{{project().screenshot?.width}}"
       height="{{ project().screenshot?.height }}"/>
  <p>{{ project().label }}</p>

  <div class="icons">
    @for (tech of project().techs; track tech.id) {
      <wa-tooltip for="{{tech.icon_name}}">{{ tech.label }}</wa-tooltip>
      <wa-icon id="{{tech.id}}" family="{{tech.family}}" name="{{tech.icon_name}}" class="text-2xl align-middle" style="{{'color: ' + tech.color}}"></wa-icon>
    }
  </div>

  <div slot='footer'>
    <wa-button href="{{ project().url }}" target='_blank'>
      <wa-icon slot='prefix' name='arrow-up-right-from-square' variant='duotone'></wa-icon>
      Ir
    </wa-button>
    <wa-button href="{{ project().repository }}" target='_blank'>
      <wa-icon slot='prefix' name='github' family='brands'></wa-icon>
      Repo
    </wa-button>
  </div>
</wa-card>
