<wa-tooltip for='twitter'>X (Formerly Twitter)</wa-tooltip>
<a href='https://x.com/sleepy_zuzki'
   id="twitter"
   aria-label='X (Formerly Twitter)'
   class='social social__twitter'
   target='_blank'>

  <wa-icon family='brands'
           name='x-twitter'
           class="text-2xl align-middle">
  </wa-icon>
</a>

<wa-tooltip for='youtube'>Youtube Channel</wa-tooltip>
<a href='https://youtube.com/@sleepy_zuzki'
   id="youtube"
   aria-label='Youtube Channel'
   class='social social__youtube'
   target='_blank'>
  <wa-icon family='brands'
           name='youtube'
           class="text-2xl align-middle">
  </wa-icon>
</a>

<wa-tooltip for='twitch'>Twitch Channel</wa-tooltip>
<a href='https://twitch.tv/sleepy_zuzki'
   id="twitch"
   aria-label='Twitch Channel'
   class='social social__twitch'
   target='_blank'>
  <wa-icon family='brands'
           name='twitch'
           class="text-2xl align-middle">
  </wa-icon>
</a>
