/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, htmld{
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
}

wa-icon {
  --primary-color: rgb(217 119 6);
  --secondary-color: rgb(251 191 36);
}

wa-button {
  --background-color: rgb(180 83 9);
}
