.skeleton-overview {
  @apply w-full max-w-60 h-[350px] flex flex-col justify-around;
}

.skeleton-overview header {
  @apply w-full h-[146px] rounded-none;
}

.skeleton-overview header wa-skeleton {
  --border-radius: 10px 10px 0 0;
  @apply w-full h-36;
}

.skeleton-overview wa-skeleton {
  margin-bottom: 1rem;
}

.skeleton-overview {
  & .icons {
    @apply flex justify-center items-center gap-2;
    & wa-skeleton {
      @apply w-10 h-10;
    }
  }

  & .buttons {
    @apply flex justify-center items-center gap-2;

    & wa-skeleton {
      --border-radius: 10px;
      @apply w-20 h-10;
    }
  }
}
